<!--<?xml version="1.0" encoding="utf-8" ?>-->
<!--<configuration>-->
<!--    <property name="LOG_PATH" value= "logs"/>-->
<!--&lt;!&ndash;콘솔 로그 출력&ndash;&gt;-->
<!--    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
<!--            <file>${LOG_PATH}/test.log</file>-->
<!--    <append>true</append>-->
<!--    <encoder>-->
<!--&lt;!&ndash;        <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n</pattern>&ndash;&gt;-->
<!--    </encoder>-->
<!--    </appender>-->

<!--    &lt;!&ndash;루트 로거 설정&ndash;&gt;-->
<!--    <root level ="info">-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--        <appender-ref ref="FILE"/>-->
<!--    </root>-->
<!--</configuration>-->